/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
*{
	box-sizing: border-box;
}
.container{
	display: relative;
	width: 75%;
	margin: auto;
	padding: none;
}
/*navigation*/
.nav-container header nav {
  display: inline-block;
  position: fixed; 
  left: 50px;
  margin-top:30px;
}
/*header image*/
.nav-container header img {
  display: inline-block;
  position: fixed; 
  top: 18px;
  right: 0px;
  margin-right: 40px;
  margin-top: 15px;
}
a{
	text-decoration: none;
	margin-left: 50px;
	color:#d3d3d3;
}
.innovation{
	display: relative;
	width: 50%;
	margin:auto;
}
h1{
	display: inline-block;
	position: relative;
	height: 400px;
	width: 200px;
	left: 0px;
	font-family: fantasy;
	font-size: 45pt;
	text-align: center;
	font-family: 'Bangers', cursive;
	margin-top:200px;
	margin-bottom: none;
}
button{
	position: relative;
	width:150px;
	left: 0px;
	margin:auto;
	padding: 5px;
	background-color: white;
	border:1px solid black;
}
